.node {
  background-color: #0099BC;
}

h1 {
 color: #7c795d;
 font-family: 'Trocchi',
 serif;
 font-size: 45px;
 font-weight: normal;
 line-height: 48px;
 margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #CEE0FC;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}