.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #2D7D9A;
  padding: 1px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto;
  background-color: #00B7C3;
  padding: 10px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0099BC;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: auto;
}

.grid-item-arrow {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: auto;
}